services:
  teastore-db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: teadb
      MYSQL_USER: teauser
      MYSQL_PASSWORD: teapass
    ports:
      - "3306:3306"
    command: --explicit_defaults_for_timestamp=1

  teastore-persistence:
    image: descartesresearch/teastore-persistence
    depends_on:
      - teastore-db
    environment:
      HOSTNAME_DB: teastore-db
      PORT_DB: 3306
      DB_USER: teauser
      DB_PASSWORD: teapass       # <- DEVE SER IGUAL AO MYSQL_PASSWORD
      DB_DB: teadb


  teastore-registry:
    image: descartesresearch/teastore-registry:latest
    depends_on:
      teastore-db:
        condition: service_healthy
    environment:
      HOST_NAME: teastore-registry
      SERVICE_PORT: 8080
    networks:
      - teastore-network

  # teastore-persistence:
  #   image: descartesresearch/teastore-persistence:latest
  #   depends_on:
  #     teastore-registry:
  #       condition: service_started
  #   environment:
  #     REGISTRY_HOST: teastore-registry
  #     REGISTRY_PORT: 8080
  #     HOST_NAME: teastore-persistence
  #     SERVICE_PORT: 8080
  #     DB_HOST: teastore-db
  #     DB_PORT: 3306
  #     DB_NAME: teadb
  #     DB_USER: teauser
  #     DB_PASS: teapass
  #   networks:
  #     - teastore-network

  teastore-recommender:
    image: descartesresearch/teastore-recommender:latest
    depends_on:
      teastore-registry:
        condition: service_started
    environment:
      REGISTRY_HOST: teastore-registry
      REGISTRY_PORT: 8080
      HOST_NAME: teastore-recommender
      SERVICE_PORT: 8080
    networks:
      - teastore-network

  teastore-auth:
    image: descartesresearch/teastore-auth:latest
    depends_on:
      teastore-registry:
        condition: service_started
    environment:
      REGISTRY_HOST: teastore-registry
      REGISTRY_PORT: 8080
      HOST_NAME: teastore-auth
      SERVICE_PORT: 8080
    networks:
      - teastore-network

  teastore-image:
    image: descartesresearch/teastore-image:latest
    depends_on:
      teastore-registry:
        condition: service_started
    environment:
      REGISTRY_HOST: teastore-registry
      REGISTRY_PORT: 8080
      HOST_NAME: teastore-image
      SERVICE_PORT: 8080
    networks:
      - teastore-network

  teastore-webui:
    image: descartesresearch/teastore-webui:latest
    ports:
      - "8080:8080"
    depends_on:
      teastore-registry:
        condition: service_started
    environment:
      REGISTRY_HOST: teastore-registry
      REGISTRY_PORT: 8080
      HOST_NAME: teastore-webui
      SERVICE_PORT: 8080
    networks:
      - teastore-network

networks:
  teastore-network:
    driver: bridge