services:
  teastore-db:
    image: mysql:5.7
    container_name: teastore-db
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "teastore"
    networks:
      - teastore-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  teastore-registry:
    image: descartesresearch/teastore-registry:latest
    container_name: teastore-registry
    depends_on:
      teastore-db:
        condition: service_healthy
    environment:
      DB_HOST: teastore-db
      DB_PORT: 3306
    networks:
      - teastore-network

  teastore-persistence:
    image: descartesresearch/teastore-persistence:latest
    container_name: teastore-persistence
    restart: always
    depends_on:
      teastore-registry:
        condition: service_started
    environment:
      REGISTRY_HOST: teastore-registry
      MYSQL_HOST: teastore-db
      MYSQL_PORT: 3306
      MYSQL_DB: teastore
      MYSQL_USER: root
      MYSQL_PASS: ""
    networks:
      - teastore-network

  teastore-recommender:
    image: descartesresearch/teastore-recommender:latest
    container_name: teastore-recommender
    depends_on:
      teastore-persistence:
        condition: service_started
    environment:
      REGISTRY_HOST: teastore-registry
    networks:
      - teastore-network

  teastore-auth:
    image: descartesresearch/teastore-auth:latest
    container_name: teastore-auth
    depends_on:
      teastore-persistence:
        condition: service_started
    environment:
      REGISTRY_HOST: teastore-registry
    networks:
      - teastore-network

  teastore-image:
    image: descartesresearch/teastore-image:latest
    container_name: teastore-image
    depends_on:
      teastore-persistence:
        condition: service_started
    environment:
      REGISTRY_HOST: teastore-registry
    networks:
      - teastore-network

  teastore-webui:
    image: descartesresearch/teastore-webui:latest
    container_name: teastore-webui
    depends_on:
      - teastore-recommender
      - teastore-auth
      - teastore-image
    ports:
      - "18081:8080"
    environment:
      REGISTRY_HOST: teastore-registry
    networks:
      - teastore-network

networks:
  teastore-network:
    driver: bridge
